<% provide(:title, @user.full_name) %>
<h1 class="user-name"><%= @user.full_name %></h1>
<% if policy(@user).draw_info? %>
  <h3>Draw: <%= @user.draw.name %></h3>
  <h3 class="user-intent">Housing Intent: <%= @user.intent %></h3>
<% end %>
<h3 class="user-role">Role: <%= @user.role %></h3>
<h3 class="user-email">Email: <%= @user.email %></h3>
<% if policy(@user).edit? %>
  <div>
    <%= link_to 'Edit', edit_user_path(@user), class: 'button secondary' %>
    <% if policy(@user).destroy? %>
      <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: 'button alert' %>
    <% end %>
  </div>
<% end %>
<%= link_to 'View all users', users_path %>
