<% if groups.all? { |_s, groups| groups.empty? } %>
  <p>There are no groups yet.</p>
<% else %>
  <% sizes.each do |size| %>
    <div class="groups-<%= size %>">
      <% if diff.present? && suite_counts.present? && group_counts.present? %>
        <h4><%= headerize_size(size) %><%= ' (locked)' if @draw.size_locked?(size) %> - <span class="group-size-header <%= diff_class(diff[size]) %>"><%= "#{pluralize(suite_counts[size], 'suite')}, #{pluralize(group_counts[size], 'group')}" %><%= oversub_str(diff[size]) %></span></h4>
      <% else %>
        <h4><%= headerize_size(size) %></h4>
      <% end %>
      <% if groups[size].empty? %>
        <p>No groups of size <%= size %></p>
      <% else %>
        <table class="group-report-1">
          <thead>
            <tr>
              <td>Group Leader</td>
              <td>Status</td>
              <% if current_user.admin? %>
                <td>Transfers</td>
              <% end %>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% groups[size].each do |group| %>
              <tr id="group-<%= group.id %>">
                <td data-role="group-leader"> <%= group.leader.full_name %> </td>
                <td data-role="group-status"><%= display_group_status(group) %></td>
                <% if current_user.admin? %>
                  <td data-role="group-transfers"><%= group.transfers %></td>
                <% end %>
                <td class="actions" data-role="group-actions"><%= render actions_partial, group: group, path: path %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>
