<% provide(:title, 'Enrollment Results') %>
<h1>Enrollment Results</h1>
<h3>The following users were successfully added</h3>
<table>
  <thead>
    <tr>
      <% if @enrollment.username? %>
        <td>Username</td>
      <% end %>
      <td>Last Name</td>
      <td>First Name</td>
      <td>Email</td>
      <td>Class Year</td>
    </tr>
  </thead>
  <tbody>
    <% @enrollment.successes.each do |student_hash| %>
      <tr>
        <% if @enrollment.username? %>
          <td><%= student_hash[:user].username %></td>
        <% end %>
        <td><%= student_hash[:user].last_name %></td>
        <td><%= student_hash[:user].first_name %></td>
        <td><%= student_hash[:user].email %></td>
        <td><%= student_hash[:user].class_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Import more students', new_enrollment_path %>
