<p><%= draw.intent_metrics['on_campus'] %> on campus students</p>
<p><%= draw.intent_metrics['undeclared'] %> undeclared students</p>
<p><%= draw.intent_metrics['off_campus'] %> off campus students</p>

<div class="oversub-report">
<table>
  <thead>
    <tr>
      <td>Suite Size</td>
      <td>Suites</td>
      <td>Groups</td>
      <td>Locked Groups</td>
      <td>Leftover Suites</td>
  </thead>
  <tbody>
    <% draw.sizes.each do |size| %>
      <tr class="<%= diff_class(draw.oversubscription[size])%>"]>
        <td data-role="suite-size"><%= size_str(size).capitalize.pluralize %></td>
        <td data-role="suite-count"><%= draw.suite_counts[size] %></td]>
        <td data-role="group-count"><%= draw.group_counts[size] %></td]>
        <td data-role="locked-count"><%= draw.locked_counts[size] %></td]>
        <td data-role="oversubscription"><%= draw.oversubscription[size] %></td]>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
