<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a href="#">Draws</a>
    <ul class="menu vertical">
      <li><%= link_to 'All Draws', draws_path %></li>
      <li><%= link_to 'New Draw', new_draw_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Special Groups</a>
    <ul class="menu vertical">
      <li><%= link_to 'All Special Groups', groups_path %></li>
      <li><%= link_to 'Create Special Group', new_group_path %></li>
    </ul>
  </li>
  <li><a href="#">Users</a>
    <ul class="menu vertical">
      <li><%= link_to 'All Users', users_path %></li>
      <li><%= link_to 'Add User', build_users_path %></li>
      <li><%= link_to 'Import Users', new_enrollment_path %></li>
      <li><%= link_to 'Export Group Leader Emails', new_email_export_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Inventory</a>
    <ul class="menu vertical">
      <li><%= link_to 'All Buildings', buildings_path %></li>
      <li><%= link_to 'New Building', new_building_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Results</a>
    <ul class="menu vertical">
      <li><%= link_to 'Results by students', students_results_path %></li>
      <li><%= link_to 'Results by suites', suites_results_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Settings', settings_path(@current_college) %></li>
  <% if current_user.superuser? %>
    <li>
      <a href="#">Superuser</a>
      <ul class="menu vertical">
        <li><%= link_to 'New College', new_college_path %></li>
        <li><%= link_to 'Admin Dashboard', admin_users_path %></li>
      </ul>
    </li>
  <% end %>
</ul>
